<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>FootballTeamManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PlayerServlet</display-name>
    <servlet-name>PlayerServlet</servlet-name>
    <servlet-class>servlet.player.PlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerServlet</servlet-name>
    <url-pattern>/PlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>servlet.player.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayerSearchServlet</display-name>
    <servlet-name>PlayerSearchServlet</servlet-name>
    <servlet-class>servlet.player.PlayerSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerSearchServlet</servlet-name>
    <url-pattern>/PlayerSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetSessionServlet</display-name>
    <servlet-name>ResetSessionServlet</servlet-name>
    <servlet-class>servlet.player.ResetSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetSessionServlet</servlet-name>
    <url-pattern>/ResetSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePlayerServlet</display-name>
    <servlet-name>UpdatePlayerServlet</servlet-name>
    <servlet-class>servlet.player.UpdatePlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePlayerServlet</servlet-name>
    <url-pattern>/UpdatePlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPlayerServlet</display-name>
    <servlet-name>SearchPlayerServlet</servlet-name>
    <servlet-class>servlet.player.SearchPlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPlayerServlet</servlet-name>
    <url-pattern>/SearchPlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPlayerServlet</display-name>
    <servlet-name>EditPlayerServlet</servlet-name>
    <servlet-class>servlet.player.EditPlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPlayerServlet</servlet-name>
    <url-pattern>/EditPlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPlayerServlet</display-name>
    <servlet-name>AddPlayerServlet</servlet-name>
    <servlet-class>servlet.player.AddPlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlayerServlet</servlet-name>
    <url-pattern>/AddPlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePlayerServlet</display-name>
    <servlet-name>DeletePlayerServlet</servlet-name>
    <servlet-class>servlet.player.DeletePlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlayerServlet</servlet-name>
    <url-pattern>/DeletePlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeMatchController</display-name>
    <servlet-name>HomeMatchController</servlet-name>
    <servlet-class>servlet.match.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeMatchController</servlet-name>
    <url-pattern>/HomeMatchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeUniformController</display-name>
    <servlet-name>HomeUniformController</servlet-name>
    <servlet-class>servlet.uniform.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeUniformController</servlet-name>
    <url-pattern>/HomeUniformController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeClubBudgetController</display-name>
    <servlet-name>HomeClubBudgetController</servlet-name>
    <servlet-class>servlet.clubbudget.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeClubBudgetController</servlet-name>
    <url-pattern>/HomeClubBudgetController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.account.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccountServlet</display-name>
    <servlet-name>AddAccountServlet</servlet-name>
    <servlet-class>servlet.account.AddAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountServlet</servlet-name>
    <url-pattern>/AddAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeAccountController</display-name>
    <servlet-name>HomeAccountController</servlet-name>
    <servlet-class>servlet.account.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeAccountController</servlet-name>
    <url-pattern>/HomeAccountController</url-pattern>
  </servlet-mapping>
</web-app>